:root {
    --green: #4a5240;
    --brown: #6f5e5c;
    --purple: #a28497;
    --light-purple: #ada8be;
    --blue: #c6caed;
    --yellow: #f4ebbe;
    --dark-yellow: #ccc5a0;
    --orange: #d3a248;
    --dark-purple: #501537;
    --med-purple: #7a4966;
    --soft-green: #CCF5AC;
}

h1 {
    font-family: 'Dancing Script', cursive;
    font-size: 100px;
    color: var(--yellow);
    transform: translate(0, -20%);
    text-shadow: 6px 6px 6px var(--dark-purple);
}

body {
    background-color: var(--purple);
}

.search-bar {
    position: sticky;
    top: 0;
    background-color: rgba(198, 202, 237, .8);
    margin: 0 auto;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
    border-top: 2px solid var(--dark-purple);
    font-family: 'Indie Flower', cursive;
    font-size: 20px;
    color: var(--dark-purple);
    z-index: 1;
    box-shadow: 15px 15px 10px rgba(122, 73, 102, 0.5);
}

.logo {
    width: 10%;
    transform: translate(70%, 15%);
    margin: 0 0 -5% 0;
}

.past-search {
    color: var(--brown);
    background-color: var(--yellow);
    border: none;
    margin: 4px;
    padding: 2px;
    border-radius: 6px;
    border-style: outset;
}

.past-search:hover {
    background-color: var(--dark-yellow);
}

.clear-button {
    color: var(--brown);
    background-color: var(--yellow);
    border: none;
    margin: 4px;
    padding: 2px;
    border-radius: 6px;
    border-style: outset;
}

.clear-button:hover {
    background-color: var(--orange);
}

#search-button {
    background-color: var(--dark-purple);
    color: var(--yellow);
    border-radius: 6px;
    border: none;
    padding: 6px;
}

#search-button:hover {
    transform: scale(1.1);
    transition: all 250ms ease;
}

.modal-button {
    display: none;
}

h2 {
    font-family: 'Dancing Script', cursive;
    font-size: 70px;
    color: var(--dark-purple);
    text-shadow: 2px 2px 6px var(--dark-yellow);
    padding-top: 1%;
}

.card-title {
    font-family: 'Indie Flower', cursive;
    font-size: 30px;
    text-decoration: none;
    color: var(--dark-purple);
}

.card-title:hover {
    color: var(--blue)
}

#search-results img {
    width: 75%;
    border: 2px solid var(--blue);
    border-radius: 8px;
    padding: 8px;
    box-shadow: 6px 6px 6px var(--dark-purple);
}

article {
    position: relative;
    z-index: 0;
}

#search-results article:nth-child(4n+2):after, #search-results article:nth-child(odd):after {
    content: '\2727';
    width: 20px;
    height: 20px;
    color: var(--dark-purple);
    display: inline-block;
    position: absolute;
    left: 98%;
    top: 50%;
    transform: translate(-60%, -50%);
    transform: scale(1.5);
}

#search-results article:last-child:after {
    content: '';
}

.recipe-img {
    border-radius: 8px;
}

#price {
    font-family: 'Indie Flower', cursive;
    font-size: 25px;
    color: var(--blue);
}

#price span {
    color: var(--yellow);
}

#slide1, #slide2, #slide3 {
    margin: auto;
    border-radius: 8px;
    border: 4px solid var(--dark-purple);
    padding: 5px;
    margin-bottom: 25px;
    box-shadow: 6px 6px 6px var(--dark-purple);
   
}

#slide1Title, #slide2Title, #slide3Title {
    background-color: var(--blue);
    width: 25%;
    padding: 1%;
    margin: auto;
    color: var(--dark-purple);
    border-radius: 8px;
    box-shadow: 6px 6px 6px var(--dark-purple);
    margin-bottom: 18px;


    /* border: 3px solid var(--yellow); */
}

h6{
    font-family: 'Indie Flower', cursive;
    color: var(--yellow);
    text-shadow: 2px 2px 6px var(--dark-purple);
} 

h3{
    font-family: 'Dancing Script', cursive;
    font-size: 55px;
    color: var(--dark-purple);
    padding-bottom: 3%;
    /* text-shadow: 2px 2px 6px var(--dark-yellow); */
}


/* 
.arrow-button{
    color: red;
} */

/* @media screen and (max-width: 800px) {
    .logo {
        display: block;
    }
} */
